.imgCenter {
    background: url("../../assets/dolar.png");
    background-color: rgb(57, 218, 57);
    background-size: 100% 100%;
    width:100%;
    cursor: pointer;
    height:300px;
    opacity: 0.9;
}
.imgCenter:hover {
    opacity:1
}
.upgradeClicks {
    width:100%;
    height: 100px;
    text-align: center;
}
.upgradeClicks ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.upgradeClicks button {
    cursor: pointer;
}