.compCont {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.dropDown1 {
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imgMoney {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
}
.dropDown2 {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
}